[package]
name = "p2panda-sync"
version = "0.1.0"
edition = "2021"
authors = [
  "adz <x12@adz.garden>",
  "sandreae <contact@samandreae.com>",
  "glyph <glyph@mycelial.technology>"
]
description = "Data- and transport-agnostic sync protocols"
repository = "https://github.com/p2panda/p2panda"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["sync", "synchronisation", "replication"]

[features]
cbor = ["dep:tokio", "dep:tokio-util"]
log-sync = ["dep:p2panda-core", "dep:p2panda-store", "cbor"]

[dependencies]
async-trait = "0.1.82"
futures = "0.3.30"
p2panda-core = { path = "../p2panda-core", optional = true }
p2panda-store = { path = "../p2panda-store", optional = true, default-features = false }
serde = { version = "1.0.215" }
tokio-util = { version = "0.7.11", features = [
    "codec",
    "compat",
], optional = true }
tokio = { version = "1.42.0", features = ["sync", "time", "rt"], optional = true }
thiserror = "1.0.63"

[dev-dependencies]
tokio = { version = "1.42.0", features = ["rt", "macros", "net", "io-util"] }
tokio-stream = { version = "0.1.15" }

[package.metadata.release]
release = true
publish = true