[package]
name = "p2panda-core"
version = "0.1.0"
edition = "2021"
authors = [
  "adz <x12@adz.garden>",
  "sandreae <contact@samandreae.com>",
  "glyph <glyph@mycelial.technology>"
]
description = "Extensible data-types for secure, distributed and efficient exchange of data"
repository = "https://github.com/p2panda/p2panda"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["p2p"]

[lints]
workspace = true

[features]
default = ["prune"]
prune = []

[dependencies]
arbitrary = { version = "1.3.2", optional = true, features = ["derive"] }
blake3 = "1.5.1"
ciborium = "0.2.2"
ed25519-dalek = { version = "2.1.0", features = ["rand_core"] }
hex = { version = "0.4.3", features = ["serde"] }
rand = "0.8.5"
serde = { version = "1.0.215", features = ["derive"] }
serde_bytes = { version = "0.11.15" }
thiserror = "1.0.63"

[dev-dependencies]
serde_json = "1.0.120"
