[package]
name = "p2panda-discovery"
version = "0.4.0"
edition = "2024"
authors = [
  "adz <x12@adz.garden>",
  "sandreae <contact@samandreae.com>",
  "glyph <glyph@mycelial.technology>",
]
description = "Peer discovery traits and services"
repository = "https://github.com/p2panda/p2panda"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["discovery", "mdns", "p2p"]

[package.metadata.docs.rs]
all-features = true

[lints]
workspace = true

[features]
default = []
mdns = ["dep:hickory-proto", "dep:socket2", "dep:base32"]

[dependencies]
anyhow = "1.0.97"
base32 = { version = "0.5.1", optional = true }
flume = "0.11.1"
futures-buffered = "0.2.11"
futures-lite = "2.6.0"
hickory-proto = { version = "0.25.1", optional = true }
iroh = { version = "0.34.1", default-features = false }
iroh-base = "0.34.1"
netwatch = "0.4.0"
socket2 = { version = "0.5.9", optional = true, features = ["all"] }
tokio = { version = "1.44.2", features = ["net", "sync"] }
tokio-util = { version = "0.7.14", features = ["codec", "io-util", "io"] }
tracing = "0.1.41"
