[package]
name = "p2panda-blobs"
version = "0.1.0"
edition = "2021"
authors = [
  "adz <x12@adz.garden>",
  "sandreae <contact@samandreae.com>",
  "glyph <glyph@mycelial.technology>"
]
description = "Blob storage, retrieval and synchronisation"
repository = "https://github.com/p2panda/p2panda"
license = "MIT OR Apache-2.0"
readme = "README.md"
categories = ["storage", "streaming", "blobs", "blake3"]

[dependencies]
anyhow = "1.0.86"
async-channel = "2.3.1"
bytes = "1.7.1"
flume = "0.11.0"
futures-buffered = "0.2.8"
futures-lite = "2.3.0"
futures-util = "0.3.30"
iroh-base = "0.25.0"
iroh-blobs = { version = "0.25.0", features = ["downloader", "fs-store"], default-features = false }
iroh-io = "0.6.1"
iroh-net = "0.25.0"
num_cpus = "1.16.0"
p2panda-core = { path = "../p2panda-core" }
p2panda-net = { path = "../p2panda-net" }
p2panda-sync = { path = "../p2panda-sync" }
serde = { version = "1.0.204", features = ["derive"] }
tempdir = "0.3.7"
tokio = { version = "1.38.0", features = ["full"] }
tokio-stream = { version = "0.1.15", features = ["sync"] }
tokio-util = { version = "0.7", features = ["codec", "io-util", "io", "rt"] }
tracing = "0.1.40"
