[workspace]
resolver = "2"
members = [
    "fuzz",
    "p2panda-blobs",
    "p2panda-core",
    "p2panda-discovery",
    "p2panda-groups",
    "p2panda-net",
    "p2panda-store",
    "p2panda-stream",
    "p2panda-sync",
]

[workspace.lints.rust]

[workspace.metadata.release]
allow-branch = ["main"]
enable-all-features = true
# Disable release and publish of crates in this workplace, should be enabled in each crates
# `Cargo.toml` to overwrite this default.
release = false
publish = false

[workspace.metadata.release.rate-limit]
new-packages = 10
