[package]
name = "p2panda-store"
version = "0.1.0"
edition = "2021"
authors = [
  "adz <x12@adz.garden>",
  "sandreae <contact@samandreae.com>",
  "glyph <glyph@mycelial.technology>"
]
description = "Store traits and implementations"
repository = "https://github.com/p2panda/p2panda"
license = "MIT OR Apache-2.0"
readme = "README.md"
categories = ["storage"]

[lints]
workspace = true

[features]
default = ["memory"]
memory = []

[dependencies]
p2panda-core = { path = "../p2panda-core" }
trait-variant = "0.1.2"

[dev-dependencies]
serde = "1.0.215"
tokio = { version = "1.42.0", features = ["rt", "macros"] }
