[package]
name = "p2panda-rs"
version = "0.3.0"
authors = [
  "sophiiistika <sophiiistika@mailbox.org>",
  "adz <x12@adz.garden>",
  "sandreae <contact@samandreae.com>",
  "cafca <cafca@001.land>",
]
edition = "2018"
description = "All the things a panda needs"
repository = "https://github.com/p2panda/p2panda"
license = "AGPL-3.0-or-later"
readme = "README.md"
exclude = [".gitignore"]
categories = ["web-programming", "wasm", "cryptography"]

[package.metadata.wasm-pack.profile.release.wasm-bindgen]
debug-js-glue = false
demangle-name-section = true
dwarf-debug-info = false

[[bin]]
name = "cbor-test-data"
path = "src/test_utils/generate_test_data.rs"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
arrayvec = "^0.5.2"
async-trait = "0.1.52"
bamboo-rs-core-ed25519-yasmf = "^0.1.1"
cddl-cat = { version = "^0.6.1", default-features = false, features = [ "serde_cbor", ] }
ciborium = "^0.2.0"
ed25519 = "^1.3.0"
ed25519-dalek = "^1.0.1"
hex = "^0.4.3"
lazy_static = "^1.4.0"
lipmaa-link = "^0.2.2"
log = "^0.4"
mockall = "0.11.0"
openmls = { version = "^0.4.0", features = ["crypto-subtle"] }
openmls_memory_keystore = "^0.1.0"
openmls_rust_crypto = "^0.1.0"
openmls_traits = "^0.1.0"
regex = "^1.5.5"
serde = { version = "^1.0.136", features = ["derive"] }
serde-wasm-bindgen = "^0.4.2"
serde_repr = "^0.1.7"
thiserror = "^1.0.30"
tls_codec = { version = "^0.2.0", features = [ "derive", "serde_serialize", ] }
yasmf-hash = "^0.1.1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
rand = "^0.7.3"

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "^0.1.7"
js-sys = "^0.3.57"
rand = { version = "^0.7.3", features = ["wasm-bindgen"] }
wasm-bindgen = "^0.2.78"

[dev-dependencies]
async-std = { version = "1.10.0", features = ["attributes"] }
criterion = "0.3.4"
ctor = "0.1.2"
incremental-topo = "0.1.2"
pretty_env_logger = "0.4"
rstest = "0.12.0"
rstest_reuse = "0.1.3"
wasm-bindgen-test = "0.3.30"

[[bench]]
name = "graph"
harness = false

[[bench]]
name = "encode_decode"
harness = false
