[package]
name = "p2panda-rs"
version = "0.2.1"
authors = [
  "sophiiistika <sophiiistika@mailbox.org>",
  "adz <x12@adz.garden>",
  "sandreae <contact@samandreae.com>",
  "cafca <cafca@001.land>",
]
edition = "2018"
description = "All the things a panda needs"
repository = "https://github.com/p2panda/p2panda"
license = "AGPL-3.0-or-later"
readme = "README.md"
exclude = [".gitignore"]
categories = ["web-programming", "wasm", "cryptography"]

[package.metadata.wasm-pack.profile.release.wasm-bindgen]
debug-js-glue = false
demangle-name-section = true
dwarf-debug-info = false

[features]
default = []
# Adds sql database support for atomic structs via sqlx crate
db-sqlx = ["sqlx"]

[[bin]]
name = "json-test-data"
path = "src/test_utils/generate_test_data.rs"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
aquamarine = "0.1.11"
arrayvec = "0.5.2"
bamboo-rs-core-ed25519-yasmf = "0.1.0"
cddl = "0.8.7"
ciborium = "0.2.0"
ed25519 = "1.3.0"
ed25519-dalek = "1.0.1"
hex = "0.4.3"
incremental-topo = "0.1.2"
serde = { version = "1.0.132", features = ["derive"] }
serde_repr = "0.1.7"
serde_json = "1.0.73"
thiserror = "1.0.30"
tls_codec = { version = "0.2.0-pre.3", features = [
  "derive",
  "serde_serialize",
] }
yasmf-hash = "0.1.0"

# Optional dependencies (behind feature flags)
sqlx = { version = "0.5.9", features = [
  "runtime-async-std-rustls",
  "all-databases",
], optional = true }

# @TODO: Use `openmls` crate as soon as changes got merged into `main` in
# upstream and released as version `0.4.0`.
# See: https://github.com/openmls/openmls/milestone/3
[dependencies.openmls]
git = "https://github.com/adzialocha/openmls"
branch = "p2panda"

[dependencies.rust_crypto]
git = "https://github.com/adzialocha/openmls"
branch = "p2panda"

[dependencies.openmls_traits]
git = "https://github.com/adzialocha/openmls"
branch = "p2panda"

# @TODO: Will be removed as soon as we have our own key store provider
[dependencies.memory_keystore]
git = "https://github.com/adzialocha/openmls"
branch = "p2panda"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
rand = "0.7.3"

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1.7"
js-sys = "0.3.55"
rand = { version = "0.7.3", features = ["wasm-bindgen"] }
wasm-bindgen = "0.2.78"

[dev-dependencies]
wasm-bindgen-test = "0.3.28"
rstest = "0.12.0"
rstest_reuse = "0.1.3"
