[package]
name = "p2panda-stream"
version = "0.1.0"
edition = "2021"
authors = [
  "adz <x12@adz.garden>",
  "sandreae <contact@samandreae.com>",
  "glyph <glyph@mycelial.technology>"
]
description = "Stream-based methods to conveniently handle p2panda operations"
repository = "https://github.com/p2panda/p2panda"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["stream", "async"]

[dependencies]
ciborium = "0.2.2"
futures-channel = "0.3.30"
futures-util = { version = "0.3.30", features = ["sink"] }
p2panda-core = { path = "../p2panda-core", features = ["prune"] }
p2panda-store = { path = "../p2panda-store" }
pin-project = "1.1.5"
pin-utils = "0.1.0"
thiserror = "1.0.63"

[dev-dependencies]
async-stream = "0.3.5"
serde = { version = "1.0.215", features = ["derive"] }
tokio = { version = "1.42.0", features = ["rt", "macros"] }

[lints]
workspace = true

[package.metadata.release]
publish = true